/hello-world/bin
/hello-world/obj
/hello-world/hello-world.cbp
/hello-world/hello-world/layout
/hello-world/hello-world/depend
/integer_types/bin
/integer_types/obj
/integer_types/integer_types.cbp
/integer_types/integer_types/layout
/integer_types/integer_types/depend
/integer_modifiers/bin
/integer_modifiers/obj
/integer_modifiers/integer_modifiers.cbp
/integer_modifiers/integer_modifiers/layout
/integer_modifiers/integer_modifiers/depend
/fractional_numbers/bin
/fractional_numbers/obj
/fractional_numbers/fractional_numbers.cbp
/fractional_numbers/fractional_numbers/layout
/fractional_numbers/fractional_numbers/depend
/booleans/bin
/booleans/obj
/booleans/booleans.cbp
/booleans/booleans/layout
/booleans/booleans/depend
/characters_and_text/bin
/characters_and_text/obj
/characters_and_text/characters_and_text.cbp
/characters_and_text/characters_and_text/layout
/characters_and_text/characters_and_text/depend
/auto/bin
/auto/obj
/auto/auto.cbp
/auto/auto.layout
/auto/auto.depend
/assignments/bin
/assignments/obj
/assignments/assignments.cbp
/assignments/assignments.layout
/assignments/assignments.depend